<%= render 'tab_list' %>
<section class="tab-content" id="homepageTabs">
  <%= render 'random_board_tab' %>
  <%= render 'specific_deck_tab' %>
</section>

<%= render 'how_it_works_section' %>
<%= render 'support_section' %>