<%= form_with model: @user, url: session_path, method: :post, local: true do |form| %>
  <div class="mb-3">
    <%= form.label :email_address, "Email Address:" %>
    <br>
    <%= form.email_field :email_address, required: true, autocomplete: "email", placeholder: "Enter your email address", value: params[:email_address], maxlength: 30 %><br>
  </div>
  <div class="mb-3">
    <%= form.label :password, "Password:" %>
    <br>
      <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 30 %><br>
  </div> 
  <%= form.submit "Log In", class: "btn btn-primary" %>
<% end %>