<table id="dueling-board" data-dueling-board-target="board">
  <tr>
    <td></td>
    <td></td>
    <td id="emz1" class="usable-zone"><%= image_tag "card.jpg" %></td>
    <td></td>
    <td id="emz2" class="usable-zone"></td>
    <td></td>
    <td id="banishment" class="usable-zone"></td>
  </tr>
  <tr>
    <td id="field" class="usable-zone"><%= image_tag "card.jpg" %></td>
    <td id="mmz1" class="usable-zone"><%= image_tag "card.jpg" %></td>
    <td id="mmz2" class="usable-zone"></td>
    <td id="mmz3" class="usable-zone"><%= image_tag "card.jpg" %></td>
    <td id="mmz4" class="usable-zone"><%= image_tag "card.jpg" %></td>
    <td id="mmz5" class="usable-zone"></td>
    <td id="graveyard" class="usable-zone"><%= image_tag "card.jpg" %></td>
  </tr>
  <tr>
    <td id="extra-deck" class="usable-zone"><%= image_tag "card.jpg" %></td>
    <td id="stz1" class="usable-zone"></td>
    <td id="stz2" class="usable-zone"></td>
    <td id="stz3" class="usable-zone"></td>
    <td id="stz4" class="usable-zone"></td>
    <td id="stz5" class="usable-zone"></td>
    <td id="deck" class="usable-zone"><%= image_tag "card.jpg" %></td>
  </tr>
  <tr id="handRow" style="position:relative; top:10px">
    <td id="hand1" class="usable-zone"><%= image_tag "card.jpg" %></td>
    <td id="hand2" class="usable-zone">hand</td>
    <td id="hand3" class="usable-zone">hand</td>
    <td id="hand4" class="usable-zone">hand</td>
    <td id="hand5" class="usable-zone">hand</td>
    <td id="hand6" class="usable-zone">hand</td>
    <td id="hand7" class="usable-zone"><%= image_tag "card.jpg" %></td>
  </tr>
  
</table>