<section>
  <%= link_to "< Back", user_deck_path(@user, @deck), class: "btn btn-danger mb-3" %>
  <div data-controller="editing-deck">
    <div class="mb-3">
      <h2>Archetypes:</h2>
      <%= render 'editing_archetypes' %>
    </div>
    <%= form_with model: @deck, url: user_deck_path(@user, @deck) do |form| %>
      <div class="mb-3 align-middle">
        <%= form.label :tier, "Tier: ", class: "fs-2" %>
        <%= form.select :tier,
        options_for_select([1, 2, 3, 4, 5], @deck.tier),
        {}, 
        { class: "fs-4" } %>
      </div>
      <div class="mb-3">
        <%= form.label :advice, "Advice: ", class: "fs-2" %>
        <br>
        <%= form.text_area :advice, rows: 5, class: "w-100" %>
      </div>
      
      <%= form.submit "Save", class: "btn btn-success fs-5 px-4 mt-3" %>
    <% end %>
  </div>
</section>